# Ignore les paramètres volatiles propres à obsidian
.obsidian/themes
.obsidian/app.json
.obsidian/appearance.json
.obsidian/backlink.json
.obsidian/bookmarks.json
.obsidian/graph.json
.obsidian/hotkeys.json
.obsidian/types.json
.obsidian/workspace.json
