# Ignorer tout le dossier .obsidian
.obsidian/*

# mais garder les plugins communautaires
!.obsidian/community-plugins.json

# ... ET garder le code des plugins eux-mêmes (C'est la clé !)
!.obsidian/plugins/
